<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="container ">
       
        <div class="row align-items-center justify-content-center">

      <div class="table-responsive" style="margin-top: 130px;">
    














        <div>
            <table class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">Utilisateur</th>
                        <th></th>
                        <th scope="col" class="sort" data-sort="budget">Nom fichier</th>
                        <th></th>
                        <th scope="col" class="sort" data-sort="status">date</th>
                        <th></th>
                        <th scope="col">Télécharger</th>
                        
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="list" style="    background-color: white;">
                    
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  
                                    
                                      <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
                                    
                                  
                                </a>
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">user name</span>
                                </div>
                            </div>
                        </th>
                        <td></td>
                        <td class="budget">
                            <span class="name mb-0 text-sm">Fichier nom</span> 
                        </td>
                        <td></td>
                        <td >
                            
                              <span class="name mb-0 text-sm">Date</span>
                            
                        </td>
                        <td></td>
                        <td>
                            
        
        telecharger
        
        
        
        
        
        
        
        
        
        
        
        
        
          
            
        
        
                        </td>
                     
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  
                                    
                                      <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
                                    
                                  
                                </a>
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">user name</span>
                                </div>
                            </div>
                        </th>
                        <td></td>
                        <td class="budget">
                            <span class="name mb-0 text-sm">Fichier nom</span> 
                        </td>
                        <td></td>
                        <td >
                            
                              <span class="name mb-0 text-sm">Date</span>
                            
                        </td>
                        <td></td>
                        <td>
                            
        
                            <a href="#" role="tab" class="nav-link" > <span class="nav-link-icon d-block"><i  class="ni ni-cloud-download-95"></i></span>
                                </a>
        
        
        
        
        
        
        
        
        
        
        
        
        
          
            
        
        
                        </td>
                     
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  
                                    
                                      <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
                                    
                                  
                                </a>
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">user name</span>
                                </div>
                            </div>
                        </th>
                        <td></td>
                        <td class="budget">
                            <span class="name mb-0 text-sm">Fichier nom</span> 
                        </td>
                        <td></td>
                        <td >
                            
                              <span class="name mb-0 text-sm">Date</span>
                            
                        </td>
                        <td></td>
                        <td>
                            
        
        telecharger
        
        
        
        
        
        
        
        
        
        
        
        
        
          
            
        
        
                        </td>
                     
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>
        
        </div>
        </div>
        </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    </main>
